<td>
  <div class="comment-content">{{ truncateContent(comment.content) }}</div>
</td>
<td>
  <span>{{ comment.username }}</span>
</td>
<td>
  <small>{{ getFormattedDate(comment.createdAt) }}</small>
</td>
<td>
  <div class="btn-group btn-group-sm">
    <button
      class="btn btn-outline-primary"
      (click)="edit.emit(comment)"
      title="Edit comment"
    >
      Edit
    </button>
    <button
      class="btn btn-outline-danger"
      (click)="delete.emit(comment)"
      title="Delete comment"
    >
      Delete
    </button>
  </div>
</td>
